## Imort data and libraries

In [26]:
import pandas as pd
import numpy as np
data= pd.read_csv('iris.csv')

In [27]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

### Doing some changing in data

In [28]:
data.drop('Id',axis=1,inplace=True)

In [29]:
data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

# Set that:
###  0-Iris-setosa
### 1-Iris-versicolor
### 2-Iris-virginica

In [31]:
y=data.values[:,4]

y=np.where(y=='Iris-setosa',0,y)
y=np.where(y=='Iris-versicolor',1,y)
y=np.where(y=='Iris-virginica',2,y)

data['Species']=y

In [32]:
data

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0              5.1           3.5            1.4           0.2       0
1              4.9           3.0            1.4           0.2       0
2              4.7           3.2            1.3           0.2       0
3              4.6           3.1            1.5           0.2       0
4              5.0           3.6            1.4           0.2       0
..             ...           ...            ...           ...     ...
145            6.7           3.0            5.2           2.3       2
146            6.3           2.5            5.0           1.9       2
147            6.5           3.0            5.2           2.0       2
148            6.2           3.4            5.4           2.3       2
149            5.9           3.0            5.1           1.8       2

[150 rows x 5 columns]

In [34]:
data.to_csv('updated_iris.csv', sep=',', header=True, index=True)